html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:cornflowerblue;
    text-align: center;
}

/* div {
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
} */

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-logo {
    display:flex;
    justify-content:center;
    align-items: center;
}

.nav-item {
    display: flex;
}


.nav-links {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    display: block;
    color: black;
    padding:1em;
}

div {
    border-style: solid;
    border-width: thin;
}
