html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:cornflowerblue;
    text-align: center;
}

/* div {
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
} */

.nav-wrap {
    display: flex;
    max-width: fit-content;
}

.nav-items {
    display:flex;
    max-width: fit-content;
}

div {
    border-style: solid;
}
