h1 {
    color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
